# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.egg-info/
dist/
build/
.env
.venv
venv/

# Model weights (too large for git)
*.pt
*.pth
runs/

# Dataset cache
*.cache
Surgical-Instruments-1/
surgeye/backend/Surgical-Instruments-1/

# Node
node_modules/
.next/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
